* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #fdfce8;
    --gray: #302f34;
    --lightgray: rgb(192, 186, 186);
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ********************************************** */

header {
    position: absolute;
    width: 100%;
}

nav {
    background-color: var(--gray);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logonav {
    display: flex;
    height: 40px;
    width: 180px;
    align-items: center;
}

.menu {
    display: flex;
    height: 100%;
    align-items: center;
}

.usuario {
    display: flex;
    height: 100%;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

li {
    display: flex;
    height: 70%;
    list-style: none;
    color: var(--white);
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: var(--font-family);
    border-bottom: 1px;
}

li:hover {
    cursor: pointer;
    color: var(--lightgray);
    border-bottom: 1px solid ;
    
}

/* ********************************************** */

